@charset "UTF-8";

@font-face {
    font-family: "ca";
    src: url(fonte/can\ dog\ tfb.ttf);
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #bbe3f0;
}

header {
    display: flex;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 5px 5px #00000033;
}

#fc {
    font-family: "ca";
    font-size: 13em;
    font-weight: normal;
    padding-left: 100px;
    color: #0380aa;
}

@media screen and (max-width:900px){
    #fc{
        font-size: 1px;
        color: #ffffff00;
    }
}

#header {
    width: 90%;
    height: 100%;
}

#header>p {
    color: #089aca;
    padding-top: 10px;
    padding-left: 40px;
    font-size: 1.4em;
}

#h1p {
    font-size: 3em;
    color: #089aca;
    width: 90%;
    padding-top: 50px;
    padding-left: 30px;
    background-color: #ffffff;
}

@media screen and (max-width:680px){
    #h1p{
        padding-top: 15px;
    }
}

.cachorro2 {
    max-width: 40vw;
    min-width: 0vw;
}

@media screen and (max-width:405px){
    .cachorro2{
        width: 1px;
    }
}

@media screen and (max-width:510px){
    .cachorro2{
        margin-top: 10%;
    }
}

.conteiner{
    max-width: 1000px;
    margin: auto;
    padding: 30px;
}

@media screen and (min-width: 909px){
    .conteiner {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 16px;
        gap: 16px;
        justify-items: center;
    }
}

@media screen and (max-width: 908px){
    .conteiner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 16px;
        gap: 16px;
        justify-items: center;
        max-width: 600px;
    }
}

@media screen and (max-width: 624px){
    .conteiner {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 16px;
        gap: 16px;
        justify-items: center;
    }
}

.produtos {
    display: inline-block;
    background-color: #ffffff;
    width: 250px;
    min-height: 300px;
    max-height: 350px;
    margin: 20px 10px 20px 20px;
    border-radius: 2px 35px;
    box-shadow: 5px 5px 5px #00000027;
}

.produtos:hover {
    height: 315px;
    width: 265px;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    transition: 0.3s;
    box-shadow: 0px 0px 15px #0000006c;
}

.pro-foto {
    padding-left: 10%;
    border-radius: 17px;
}

.pro-foto-s{
    padding-left: 20%;
}

.nome {
    text-align: center;
    padding-top: 10px;
}

.pre {
    font-size: 1.6em;
    padding-top: 15px;
    text-align: center;
}

a {
    text-decoration: none;
}

.but{
    background-color: #0380aa;
    width: 150px;
    height: 50px;
    margin: auto;
    border-radius: 15px;
    text-align: center;
    font-size: 1.2em;
}

.but > p{
    margin-top: 10px;
    padding-top: 13px;
    color: #ffffff;
    font-weight: bold;
}

.but:hover{
    box-shadow: 0px 0px 15px #0145ff;
    transition: 0.2s;
}

footer{
    text-align: center;
    box-shadow: -10px 0px 10px #0000005e;
    height: 500px;
    width: 100%;
    padding-top: 1px;
    background-color: #ffffff;
}

#atendimento{
    color: #ffffff;
    max-width: 300px;
    margin-left: 5%;
    background-color: #0044ff;
    border-radius: 10px;
    margin-bottom: 2%;
    margin: auto;
    margin-top: 30px;
    text-align: center;
}

.cc{
    margin-top: 5px;
}

#atendimento > h2{
    padding: auto;
}

#comprovante{
    margin-left: 1%;
    margin-top: 10px;
}

#comprovante > p{
    color: #5f5f5f;
    margin-bottom: 8px;
    
}

#ceco{
    display: inline-block;
}

.certi{
    margin-top: 10px;
    margin-left: 1%;
}

.certi > img{
    margin-right: 20px;
}

.certificado{
    margin-top: 9px;
}

.paga{
    max-width: 435px;
}

@media screen and (max-width:440px){
    .paga{
        max-width: 340px;
    }
}

@media screen and (max-width:340px){
    .paga{
        max-width: 250px;
    }
}